/* src/pages/RandomQuote.css */

.random-quote-container {
  text-align: center;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 15px;
  margin: 100px auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.random-quote-container .card-subtitle.author {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 20px;
}

.generate-button {
  padding: 10px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #0056b3;
}
